@import 'variables';
@import 'mixins';

$arrow-size: 1rem;
$content-border-radius: $border-radius;

.container {
  position: relative;
}

.button {
  @include button();
}

.dropdown {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, $arrow-size);
  background-color: $white;
  border-radius: $content-border-radius;
  box-shadow: $box-shadow;
  visibility: hidden;

  &.visible {
    visibility: visible;
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: $arrow-size;
    height: $arrow-size;
    background: $white;
    border: 1px solid $grey-100;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &__content {
    position: relative;
    padding: 0.5rem 0;
    background-color: $white;
    border-radius: $content-border-radius;

    & > a {
      display: block;
      white-space: nowrap;
      padding: 0.5rem 1.5rem;
      color: $body-color;
      font-weight: $font-weight-medium;
      cursor: pointer;

      svg {
        fill: $body-color;
      }

      @include above {
        text-decoration: none;
        color: $blue !important;

        svg {
          fill: $blue;
        }
      }
    }
  }
}
