@import 'variables';
@import 'mixins';

$body-padding-x: 4rem;
$body-padding-y: 3rem;
$gutter-size: 2rem;

.container {
  @include container();
  display: flex;
  align-items: stretch;

  & > div:first-of-type {
    flex: 0 0 auto;
    border-right: 1px solid $border-color;
  }

  & > div:last-of-type {
    flex: 1 1 auto;
  }
}

.sidemenu {
  padding: $body-padding-y $body-padding-x $body-padding-y 0;

  &__item {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: relative;
    font-weight: $font-weight-medium;
    color: $grey-700;
    @include transition(color $transition-duration);

    & + & {
      margin-top: 0.875rem;
    }

    & > svg {
      display: block;
      width: 1.5rem;
      margin-right: 2rem;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: -4rem;
      width: 4px;
      border-radius: 2px;
      background-color: transparent;
    }

    @include above() {
      text-decoration: none;
      color: $black;
    }

    &--active {
      background-color: $grey-100;
      color: $black;

      &::after {
        background-color: $blue;
      }
    }
  }

  &__logout {
    @include button();
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    font-weight: $font-weight-medium;
    color: $blue;
    margin-top: 5rem;

    & > svg {
      display: block;
      width: 1.5rem;
      margin-right: 2rem;
      fill: $blue;
    }

    @include above() {
      color: $blue-dark;
    }
  }
}

.body {
  padding: $body-padding-y 0 $body-padding-y $body-padding-x;

  h2 {
    margin-bottom: $body-padding-y;
  }
}

.account {
  & > div + div {
    margin-top: $body-padding-y;
    padding-top: $body-padding-y;
    border-top: 1px solid $border-color;
  }

  &__row {
    display: flex;
    align-items: center;

    & + & {
      margin-top: 2rem;
    }

    & > div:first-of-type {
      flex: 0 0 12rem;
      font-weight: $font-weight-bold;
    }
    & > div:last-of-type {
      flex: 0 1 20rem;
    }
  }

  &__submit {
    margin-top: $body-padding-y;
  }
}

.resume {
  $border-radius: 2rem;
  $rectangle-ratio: 80%;

  &Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $gutter-size;
    row-gap: $gutter-size;
  }

  &__wrapper {
    justify-self: stretch;
    padding-bottom: $rectangle-ratio;
    position: relative;
  }

  &__loading {
    @include loading();
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
  }

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: tint-color($blue-light, 40%);
  display: flex;
  border-radius: $border-radius;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  border: 2px solid transparent;
  @include transition(border $transition-duration);
  z-index: 1;

  & > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include transition(color $transition-duration);
  }

  & > p:first-of-type {
    @include font-size(1.5rem);
    font-weight: $font-weight-bold;
    margin-bottom: 0.5rem;
    color: $body-color;
  }

  & > p:last-of-type {
    @include font-size(0.875rem);
    color: $grey-700;
    margin-bottom: 0;
  }

  @include above {
    text-decoration: none;
    border-color: $blue-light;

    & > p:first-of-type {
      color: $blue;
    }
    & > p:last-of-type {
      color: $grey-700;
    }
  }

  &__actions {
    position: absolute !important;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 2;

    & > button {
      padding: 0.5rem 1rem;

      & > svg {
        height: 1rem;
        fill: $grey-600;
      }

      @include above() {
        & > svg {
          fill: $blue;
        }
      }
    }
  }

  &__action {
    display: flex;

    & > svg {
      width: 1rem;
      margin-right: 1rem;
    }

    & > span {
      font-weight: $font-weight-normal;
    }
  }

  &RenameModal {
    width: 380px;
    padding: 3rem 3rem 2rem;

    h2 {
      @include font-size(1.75rem);
      margin-bottom: 1.5rem;
    }

    &__continue {
      display: block;
      margin-top: 1.5rem;
    }

    &__cancel {
      @include button-variant('transparent');
      display: block;
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  &Loading {
    @include loading();
    padding-bottom: $rectangle-ratio / 4;
  }
}
