@import 'variables';
@import 'mixins';

.container {
  @include container();
}

.container-fluid {
  @include container-fluid();
}

.preview {
  // flex: 1 1 auto;
  // background-color: tint-color(#adb5bd, 20%);
  // display: none;
  height: 500px;
  background-color: $blue;
}

.previewWrapper {
  overflow: hidden;
  height: 0;
}

.editor {
  // flex: 0 0 auto;
  // width: 40%;
}

.row {
  @include row();
}

.col {
  &-3 {
    @include make-col(3);
  }

  &-6 {
    @include make-col(6);
  }

  &-12 {
    @include make-col(12);
  }
}

.resume {
  padding: 30px 50px;
  background-color: $grey-100;
}
