@import 'variables';
@import 'mixins';

$header-padding-y: 1rem;
$header-border-color: $border-color;
$footer-padding-y: 2rem;

.default {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > div:not(:first-of-type):not(:last-of-type) {
    flex: 1 0 auto;
  }
}

.header {
  border-bottom: 1px solid $header-border-color;

  &__container {
    @include container();
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding-top: $header-padding-y;
    padding-bottom: $header-padding-y;
  }

  &__logo {
    display: block;
    flex: 0 0 auto;
    margin-right: 2rem;

    & > img {
      height: 2.5rem;
    }
  }

  &Nav {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      display: flex;
      align-items: center;

      & > a {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: $black;
        font-weight: $font-weight-medium;
        font-size: 1.125rem;

        @include above() {
          color: $blue;
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
    }

    &__button {
      display: block;
      @include button-variant('blue');
      margin-left: 2rem;

      & + * {
        margin-left: 2rem;
      }
    }

    &__join {
      display: block;
      padding: 0.125rem 0;
      text-decoration: none;
      color: $blue;
      font-weight: $font-weight-medium;
      transition: border $transition-duration;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;

      &:hover,
      &:active {
        border-bottom-color: $blue;
      }

      @include above() {
        text-decoration: none;
      }
    }
  }

  &Dropdown {
    & > button {
      padding: $input-btn-padding-y;
      border-radius: 5rem;
      border: 1px solid $red;
      background-color: $red;
      @include transition(
        border-color $transition-duration,
        background-color $transition-duration
      );

      & > svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        fill: $white;
      }

      @include above {
        border-color: $red-dark;
        background-color: $red-dark;
      }
    }
  }
}

.footer {
  background-color: $black;
  color: $grey-600;
  flex: 0 0 auto;

  &__container {
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $footer-padding-y;
    padding-bottom: $footer-padding-y;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    color: $grey-700;
    margin-right: 3rem;
  }

  &__links {
    & > a {
      text-decoration: none;
      color: inherit;
      margin-right: 1.5rem;
      font-weight: $font-weight-medium;

      @include above() {
        color: $white;
      }
    }
  }
}
