@import '../styles/variables';
@import '../styles/mixins';

.row {
  @include row();
}

.color {
  $height: 50px;

  &-list {
    display: grid;
    row-gap: $spacer;
  }

  &-brick {
    height: $height;
    border-radius: $border-radius;
    box-shadow: $box-shadow-sm;
  }

  &-blue {
    background-color: $blue;
  }

  &-red {
    background-color: $red;
  }

  &-orange {
    background-color: $orange;
  }

  &-blue-dark {
    background-color: $blue-dark;
  }

  &-black {
    background-color: $black;
  }

  &-white {
    background-color: $white;
  }

  &-monochrome {
    display: flex;
    justify-content: stretch;

    &__cell {
      flex: 1 1 auto;
      line-height: $height;
      text-align: center;
      font-size: $font-size-sm !important;

      &:nth-of-type(1) {
        background-color: $grey-100;
      }
      &:nth-of-type(2) {
        background-color: $grey-200;
      }
      &:nth-of-type(3) {
        background-color: $grey-300;
      }
      &:nth-of-type(4) {
        background-color: $grey-400;
      }
      &:nth-of-type(5) {
        background-color: $grey-500;
      }
      &:nth-of-type(6) {
        background-color: $grey-600;
        color: $white;
      }
      &:nth-of-type(7) {
        background-color: $grey-700;
        color: $white;
      }
      &:nth-of-type(8) {
        background-color: $grey-800;
        color: $white;
      }
      &:nth-of-type(9) {
        background-color: $grey-900;
        color: $white;
      }
    }
  }
}

.typo {
  &-weight-list {
    display: grid;
  }

  &-weight {
    border-bottom: 1px solid $grey-300;
    font-family: $font-family-sans-serif;
    padding: $spacer 0;

    & > span {
      font-size: $font-family-base !important;
    }

    & > div {
      font-size: $h2-font-size !important;
    }

    &-300 {
      font-weight: 300;
    }

    &-400 {
      font-weight: 400;
    }

    &-500 {
      font-weight: 500;
    }

    &-700 {
      font-weight: 700;
    }
  }

  &-size-list {
    margin-top: 2 * $spacer !important;
    display: grid;

    & > p {
      margin-top: 0;
      margin-bottom: $paragraph-margin-bottom;
      font-family: $font-family-sans-serif;
      color: $black;
      font-weight: 400;
    }

    & > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-family-sans-serif;
      margin-top: 0; // 1
      margin-bottom: $headings-margin-bottom;
      font-style: $headings-font-style;
      font-weight: $headings-font-weight;
      line-height: $headings-line-height;
      color: $black;
    }

    & > h1 {
      @include font-size($h1-font-size);
    }

    & > h2 {
      padding-bottom: 0;
      border-bottom: none;
      @include font-size($h2-font-size);
    }

    & > h3 {
      @include font-size($h3-font-size);
    }

    & > h4 {
      @include font-size($h4-font-size);
    }

    & > h5 {
      @include font-size($h5-font-size);
    }

    & > h6 {
      @include font-size($h6-font-size);
    }
  }
}
