@import 'variables';

$skeleton-bg: $white;
$skeleton-spacer: 1rem;
$skeleton-avatar-border-radius: 50%;
$skeleton-animation-duration: 0.8s;

.container {
  &,
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  direction: ltr;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: $skeleton-bg;

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    animation: skeletonAnimation $skeleton-animation-duration linear infinite;
    background: linear-gradient(
        to right,
        rgba($skeleton-bg, 0) 46%,
        rgba($skeleton-bg, 0.35) 50%,
        rgba($skeleton-bg, 0) 54%
      )
      50% 50%;
  }

  & > * {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  & > div {
    margin-bottom: $skeleton-spacer;
    background-color: $skeleton-color;
  }
  & > .empty {
    background-color: rgba($skeleton-bg, 0);
  }

  &--h1 > div {
    height: $h1-font-size * $headings-line-height;
  }
  &--h2 > div {
    height: $h2-font-size * $headings-line-height;
  }
  &--h3 > div {
    height: $h3-font-size * $headings-line-height;
  }
  &--h4 > div {
    height: $h4-font-size * $headings-line-height;
  }
  &--h5 > div {
    height: $h5-font-size * $headings-line-height;
  }
  &--p > div {
    height: $font-size-base * $line-height-base;
  }
}

.col-2 {
  flex: 0 0 percentage(2 / 12);
}
.col-4 {
  flex: 0 0 percentage(4 / 12);
}
.col-6 {
  flex: 0 0 percentage(6 / 12);
}
.col-8 {
  flex: 0 0 percentage(8 / 12);
}
.col-10 {
  flex: 0 0 percentage(10 / 12);
}
.col-12 {
  flex: 0 0 percentage(12 / 12);
}

.avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  background-color: $skeleton-color;
  margin-bottom: $skeleton-spacer;
  border-radius: $skeleton-avatar-border-radius;
  overflow: hidden;

  &::before {
    content: ' ';
    display: block;
    padding-top: 100%;
  }
}

.picture {
  width: 100%;
  height: 120px;
  background-color: $skeleton-color;
  margin-bottom: $skeleton-spacer;
}

@keyframes skeletonAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}
